### AKSHAT GOYAL (21BCE2686) (VIT-VELLORE)
### ASSIGNMENT 1

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Task 1 - Creating a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [ ]:
df = pd.DataFrame([[1,2,3,4,5,6,7,8,9,10],[2,3,4,5,6,7,8,9,10,11],[3,4,5,6,7,8,9,10,11,12],[4,6,8,10,12,14,16,18,20,22],[3,6,9,12,15,18,21,24,27,30]])
df

   0  1  2   3   4   5   6   7   8   9
0  1  2  3   4   5   6   7   8   9  10
1  2  3  4   5   6   7   8   9  10  11
2  3  4  5   6   7   8   9  10  11  12
3  4  6  8  10  12  14  16  18  20  22
4  3  6  9  12  15  18  21  24  27  30

Task 2 - Checking the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      int64
 1   1       5 non-null      int64
 2   2       5 non-null      int64
 3   3       5 non-null      int64
 4   4       5 non-null      int64
 5   5       5 non-null      int64
 6   6       5 non-null      int64
 7   7       5 non-null      int64
 8   8       5 non-null      int64
 9   9       5 non-null      int64
dtypes: int64(10)
memory usage: 528.0 bytes

Task 3 - Checking the descriptive statistics of 'df'

In [ ]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,2.600000,4.200000,5.800000,7.400000,9.000000,10.600000,12.200000,13.800000,15.400000,17.000000
std,1.140175,1.788854,2.588436,3.435113,4.301163,5.176872,6.058052,6.942622,7.829432,8.717798
min,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000
25%,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000
50%,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,11.000000,12.000000
75%,3.000000,6.000000,8.000000,10.000000,12.000000,14.000000,16.000000,18.000000,20.000000,22.000000
max,4.000000,6.000000,9.000000,12.000000,15.000000,18.000000,21.000000,24.000000,27.000000,30.000000

Task 4 - checking the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[4]

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
9    30
Name: 4, dtype: int64

In [ ]:
df.loc[3]

0     4
1     6
2     8
3    10
4    12
5    14
6    16
7    18
8    20
9    22
Name: 3, dtype: int64

Task 5 - Checking the null values in DataFrame 'df'

In [ ]:
df.isnull().any()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64